.nav {
  display: flex;
  justify-content: space-between;

  .menu-item {
    height: 64px;
    line-height: 64px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ant-anchor-link {
      height: 100%;
      padding: 0;

      &-title {
        height: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        color: rgba(255, 255, 255, 0.65);
      }
    }

    span {
      line-height: 1;

      &:first-child {
        margin-bottom: 8px;
      }
    }
  }

  .left {
    display: flex;
    align-items: center;

    .logo {
      width: 40px;
      height: 56px;
      margin-right: 48px;

      background: url('https://user-images.githubusercontent.com/5803001/45929172-80a7cd80-bf80-11e8-9ed4-b864c4097cf7.png');
      background-size: cover;
    }
  }

  .toolbar {
    &-container {
      position: fixed;
      width: 40px;
      height: 110px;

      right: -2px;
      top: 30vh;

      transition: all 500ms ease;

      &:hover {
        transform: translateX(-2px);
      }
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    color: white;
    background: #1890ff;

    > span {
      writing-mode: vertical-lr;
      margin-bottom: 10px;
    }

    > i {
      zoom: 1.4;
    }
  }
}
